<div class="fields">
  <div class="row">
    <div class="form-group">
      <div class="col-sm-4">
        <%= f.text_field :name, :id =>"course_content_field"%> 
      </div>

      <div class="col-sm-4">
        <%= f.select :proficiency, options_for_select([["Proficiency", "proficiency"], ["Fluency", "fluency"]]), {}, :class => "form-control" %>
      </div>

        <div class="col-sm-4" >
          <%= link_to_remove_fields 'Remove', f %>
        </div>
    </div>
  </div>
</div>
<br/>