<div class="row">
  <div class="col-sm-4">
    <b>
      Language <span class="required">*</span>
    </b>
  </div>

  <div class="col-sm-4">
    <b>
      Proficiency
    </b>
  </div>

  <div class="col-sm-4">

  </div>
</div>

<%= f.fields_for :languages, :html => {:multipart => true} do |language| %>
  <div class="row">
    <div class="col-sm-4">
      <%= language.text_field :name, :class => "form-control" %> <br/>
    </div>

    <div class="col-sm-4">
      <%= language.select :proficiency, options_for_select([["Proficiency", "proficiency"], ["Fluency", "fluency"]], :selected => language.object.proficiency), {}, :class => "form-control" %>
    </div>

    <div class="col-sm-4">

    </div>
  </div>
<% end %> 

<div style="margin: 0px 0px 20px 16px;">
  <%= link_to_add_fields("Add another language", f, :languages) %> 
</div>