<div class="super-hack-div" id="post-application-page">
  <div id="post-application">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form>
            <p class="title">Start Meeting Companies</p>
            <hr>
            <p class="sub-title">Where are you in the job search?</p>
            <hr>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>

            <p class="sub-title">Where are you in the job search?</p>
            <hr>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>

            <p class="sub-title">Where are you in the job search?</p>
            <hr>
            <p class="input-title">Date</p>
            <input type="date">

            <p class="sub-title">Where are you in the job search?</p>
            <hr>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>
            <p class="answer"><input type="checkbox">Ipsum Doler</p>

            <p class="sub-title">Where are you in the job search?</p>
            <hr>
            <p class="input-title">Time</p>
            <input type="time">
            <br>

            <button>submit for review</button>
          </form>
        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- post-application -->
</div><!-- super-hack-div -->