<div class="super-hack-div" id="recommendation-page">
  <div class="wrapper">
    <div class="container">
      <div class="row">


        <div class="col-md-8">

          <div class="row">
            <p class="title">Waseem Arshad asks for your recommendation</p>
            <div class="recommendation">
              <img src="" class="avatar">
              <p class="sub-title">Hi Antonio,</p>
              <p class="recommendation-intro">Generally speaking, developers with strong knowledge of iOS, Android, Python or Ruby & experience at venture-funded companies do the best. Demand for specific types of skill sets can vary by geography. We have also had success with data scientists (typically with an MS or Ph.D.), and Engineers with strong DevOps .</p>
              <hr>

              <p class="input-title">Name</p>
              <input type="text">
              <p class="input-title">What is your job role and where do you work?</p>
              <input type="text">
              <p class="input-title">Recommendation</p>
              <input type="text" class="recommendation">
              <button class="submit-recommendation">Submit recommendation</button>

            </div><!-- col-md-8 -->
          </div></div>

        <div class="col-md-4">
          <p class="title">HERE IS HOW IT'LL LOOK</p>
          <div class="recommendation">
            <p class="name">Antonio Leone</p>
            <p class="position">CEO</p>
            <p>Generally speaking, developers with strong knowledge of iOS, Android, Python or Ruby & experience at venture-funded companies do the best. Demand for specific types of skill sets can vary by geography. </p>
          </div><!-- recommendation -->
        </div><!-- col-md-4 -->


      </div><!-- row -->
    </div><!-- container -->
  </div><!-- wrapper -->
</div><!-- super-hack-div -->
